<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Test</title>
  <link rel="stylesheet" href="https://nebulacrs.hti.app/hostech/booknow/static/css/booknow.css"></script>
</head>
<body>

  <div id="booknow"></div>

  <script  type="text/javascript" src="https://nebulacrs.hti.app/hostech/booknow/static/js/booknow.js"></script>
  <script type="text/javascript">
    displayBookNow({
      siteId: 35,
      elementId: "booknow",
      key: "-LfPKryEQVpcfp-acr6J",
      autoSearch: true,
      singleProperty: true,
    });
  </script>

</body>
</html>

