@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Add this custom class to your global.css file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit-based browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar in Firefox */
}
.ReactModal__Content.ReactModal__Content--after-open {
  inset: 0px !important;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .bartop{
    top: 12rem !important;
    width: 100vh;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .bartop{
    top: 16rem !important;
    width: 100vh;
  }
}

.bartop{
  width: 100%;
  top: 16em;
}

