@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'ArialCustom'; /* Custom name for the font */
  src: url('/fonts/Arial.ttf') format('truetype'); /* Path to the font file */
  font-weight: normal; /* You can specify the weight */
  font-style: normal; /* You can specify the style */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Add this custom class to your global.css file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit-based browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar in Firefox */
}
.ReactModal__Content.ReactModal__Content--after-open {
  inset: 0px !important;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .bartop{
    top: 17rem;
    width: 100vh;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .bartop{
    top: 18rem !important;
    width: 100vh;
  }
}

.bartop{
  width: 100%;
  top: 17em;
}


.our-story-background{
  background: linear-gradient(to bottom, transparent 0%, white 50%) !important;
}

/* app/globals.css */
.custom-text {
  font-family: 'ArialCustom', Arial, sans-serif; /* Use the custom font */
}