@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'ArialCustom'; /* Custom name for the font */
  src: url('/fonts/Arial.ttf') format('truetype'); /* Path to the font file */
  font-weight: normal; /* You can specify the weight */
  font-style: normal; /* You can specify the style */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Add this custom class to your global.css file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit-based browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar in Firefox */
}
.ReactModal__Content.ReactModal__Content--after-open {
  inset: 0px !important;
}

/* styles.css */
.bartop {
  background-color: white; /* Default background color */
  transition: top 0.3s ease; /* Smooth transition for the top property */
}

/* Default styles for when the dropdown is closed */
.bartop.closed {
  top: 8rem; /* Mobile */
}

/* Styles for when the dropdown is open */
.bartop.open {
  top: 29rem; /* Mobile */
}

/* Tablet styles */
@media (min-width: 481px) and (max-width: 768px) {
  .bartop.closed {
    top: 20rem; /* Tablet */
  }
  .bartop.open {
    top: 32rem; /* Tablet */
  }
}

/* Medium screen styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .bartop.closed {
    top: 21rem; /* Medium */
  }
  .bartop.open {
    top: 38rem; /* Medium */
  }
}

/* Large screen styles */
@media (min-width: 1024px) {
  .bartop.closed {
    top: 10rem; /* Large */
  }
  .bartop.open {
    top: 31rem; /* Large */
  }
}
/* 
ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'tafaria-password';
mysql -h localhost -u root -p
GRANT ALL PRIVILEGES ON ghost_db.* TO 'root'@'localhost';

sudo ln -s /etc/nginx/sites-available/nextjs /etc/nginx/sites-enabled/

sudo ln -s /etc/nginx/sites-available/tafaria-castle /etc/nginx/sites-enabled/ */

/* .bartop{
  width: 100%;
  top: 19em;
} */


.our-story-background{
  background: linear-gradient(to bottom, transparent 0%, white 50%) !important;
}

/* app/globals.css */
.custom-text {
  font-family: 'ArialCustom', Arial, sans-serif; /* Use the custom font */
}

.dropd{
  
    margin: auto !important;
    
} 

.video-container {
  position: relative; /* Position relative for absolute positioning of overlay */
  width: 100%; /* Full width */
  height: 250px; /* Set a fixed height for the video */
  overflow: hidden; /* Hide overflow */
}

.video-player {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Cover the container */
}

.play-button-overlay {
  position: absolute; /* Position absolute to overlay on the video */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* Center the play button */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  cursor: pointer; /* Pointer cursor on hover */
}

.play-icon {
  color: white; /* Play icon color */
  font-size: 3rem; /* Size of the play icon */
}